body {
    background: $dark-blue;
}

main {
    padding-top: 50px;
}

.find-more {
    background: $light-blue;
    color: $dark-blue;
    padding: 10px 30px;
    margin-top: 20px;
}

main .section2,
main .gallery {
    background: $spruce;
}

main .section1 {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .section1 p {
    width: 70%;
    margin: 0;
}