body {
  background: $dark-blue;
}

main {
  padding-top: 50px;

  .find-more {
    background: $light-blue;
    color: $dark-blue;
    padding: 10px 30px;
    margin-top: 20px;
  }

  .section2,
  .gallery {
    background: $spruce;
  }

  .section1 {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 70%;
      margin: 0;
    }
  }

  .additions,
  .meet-nemo {
    display: flex;
    position: relative;
    height: 481px;
  }

  .additions > *,
  .meet-nemo > * {
    width: 40%;
  }

  .additions {
    justify-content: flex-end;

    .img-container {
      box-shadow: 40px 40px $light-blue;
      background: $light-blue;
      position: absolute;
      height: min-content;
      top: -40px;
      left: -40px;

      img {
        width: 100%;
      }
    }
  }

  .meet-nemo {
    .img-container {
      box-shadow: -40px 40px $light-blue;
      position: absolute;
      height: min-content;
      bottom: -40px;
      right: 0;
    }
    article {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
