body {
  background: $dark-blue;
}

main {
  padding-top: 50px;

  .find-more {
    background: $light-blue;
    color: $dark-blue;
    padding: 10px 30px;
    margin-top: 20px;
  }

  .read-more {
    background: $dark-blue;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
  }

  .section2,
  .gallery {
    background: $spruce;
  }

  

  .section1 {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 70%;
      margin: 0;
    }
  }

  .section2 {

         & > * {
            display: flex;
            position: relative;
            height: 481px;

            & > * {
            width: 44%;
            }
        }

        .img-container {
            position: absolute;
            height: min-content;

            //img {
            //  width: 100%;
            //}
        }

        .additions {
            justify-content: flex-end;

            .img-container {
                box-shadow: 40px 40px $light-blue;
                background: $light-blue;
                top: -40px;
                left: -40px;
            }

            p{
                width: 80%;
                //come back for wrapper
            }

            // .button {
            //     line-height: 40px;
            // }
            //Check line-height issue
        }

        .meet-nemo {
            .img-container {
                box-shadow: -40px 40px $light-blue;
                bottom: -40px;
                right: 0;
            }
            article {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                p{
                    text-align: right;
                    width: 80%;
                    //come back for wrapper
                }
            }
        }

        article {
            padding-top: 50px;
        }
    }
}